{% extends "superset/basic.html" %}

{% block head_js %}
  {{ super() }}
  {% with filename="welcome" %}
    {% include "superset/partials/_script_tag.html" %}
  {% endwith %}
{% endblock %}

{% block title %}{{ _("Welcome!") }}{% endblock %}

{% block body %}
<div class="container welcome">
  {% include 'superset/flash_wrapper.html' %}
    <div class="panel-body" style="background-image:url('/static/assets/images/back.png');
              background-repeat:no-repeat;
              background-position:center;
              background-size:100% 100%;
              margin:0px;
              min-height:100%; height:auto !important; height:100%;">
    </div>
  </div>
</div>
{% endblock %}

